.icon {
  width: 135px;
  height: 135px;
}

.header {
  flex-direction: row;
  height: 690px;
}

.main {
  padding-inline: 160px;
}

.iconsContainer {
  flex-direction: row;
  gap: 30px;
}

.title {
  font-size: 46px;
}

.titleH2 {
  font-size: 38px;
}

.titleH3 {
  font-size: 30px;
}

.subtitle {
  font-size: 22px;
}

.headerItem2 {
  padding-left: 50px;
}

.partecipaContainer {
  margin-left: -160px;
}

.subscribeContainer {
  margin-left: -160px;
}

@media screen and (max-width: 992px) {
  .icon {
    width: 120px;
    height: 120px;
  }

  .header {
    flex-direction: column;
    height: auto !important;
  }

  .headerItem {
    width: 100% !important;
  }

  .headerItem2 {
    width: 100% !important;
    padding-left: 0;
  }

  .headerItemImage {
    margin-left: -8vw;
    height: 600px;
    margin-top: -20px;
    margin-bottom: -20px;
  }

  .headerItemImage2 {
    height: 600px;
    margin-top: 30px;
  }

  .headerItemImage3 {
    height: 600px;
  }

  .main {
    padding-inline: 80px;
    padding-top: 45px;
  }

  .partecipaContainer {
    margin-left: -80px;
  }

  .subscribeContainer {
    margin-left: -80px;
  }
}

@media screen and (max-width: 680px) {
  .icon {
    width: 100px;
    height: 100px;
  }

  .header {
    flex-direction: column;
    height: auto !important;
  }

  .headerItem {
    width: 100% !important;
  }

  .headerItem2 {
    width: 100% !important;
    padding-left: 0;
  }

  .headerItemImage {
    margin-left: -10vw;
    height: 600px;
    margin-top: -40px;
    margin-bottom: -40px;
  }

  .headerItemImage2 {
    height: 600px;
    margin-top: 0px;
  }

  .headerItemImage3 {
    height: 500px;
  }

  .main {
    padding-inline: 60px;
    padding-top: 45px;
  }

  .iconsContainer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .partecipaContainer {
    margin-left: -60px;
  }

  .subscribeContainer {
    margin-left: -60px;
  }
}

@media screen and (max-width: 550px) {
  .headerItemImage2 {
    height: 600px;
    margin-top: -60px;
  }

  .headerItemImage3 {
    height: 400px;
  }
}

@media screen and (max-width: 450px) {
  .icon {
    width: 80px;
    height: 80px;
  }

  .header {
    flex-direction: column;
    height: auto !important;
  }

  .headerItem {
    width: 100% !important;
  }

  .headerItem2 {
    width: 100% !important;
    padding-left: 0;
  }

  .headerItemImage {
    margin-left: -12.5vw;
    height: 600px;
    margin-top: -90px;
    margin-bottom: -90px;
  }

  .headerItemImage2 {
    height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .headerItemImage3 {
    height: 350px;
  }

  .main {
    padding-inline: 16px;
    padding-top: 30px;
  }

  .iconsContainer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .title {
    font-size: 30px;
  }

  .titleH2 {
    font-size: 22px;
  }

  .titleH3 {
    font-size: 22px;
  }

  .subtitle {
    font-size: 16px;
  }

  .partecipaContainer {
    margin-left: -16px;
  }

  .subscribeContainer {
    margin-left: -16px;
  }
}
