.names {
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  color: #004267;
}
.description {
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  color: #004267;
}
.role {
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  color: #004267;
  text-transform: uppercase;
}

.profileImage {
  border-radius: 50%;
  min-width: 80% !important;
  max-width: 80% !important;
  min-height: 80% !important;
  max-height: 80% !important;
  /* filter: "#ccf74f"; */
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
